@import "tailwindcss";
@import "tw-animate-css";


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }



  /*
---break---
*/
  /*@custom-variant dark (&:is(.dark *));*/

  .list-icon::before{
    content: '✔︎';
    padding: 0 10px 0 0;
  }

  /*
  fonts for title cerificate
  */

  .gold-gradient{background: linear-gradient(to bottom, #cfc09f 27%, #ffecb3 40%, #3a2c0f 78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    /*font-family: 'Playfair Display', serif;*/
    position: relative;
    /*text-transform: uppercase;*/
    /*font-size: calc(18vw + .5rem);*/
    margin: 0;
    /*font-weight: 400;*/
  }

  .corinthia-regular {
    font-family: "Corinthia", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .corinthia-bold {
    font-family: "Corinthia", cursive;
    font-weight: 700;
    font-style: normal;
  }

  /*
  fonts for title cerificate
  */

  /* /* width */
  /* ::-webkit-scrollbar {
      width: 10px;

  } */

  /* Track */
  /* ::-webkit-scrollbar-track {
      background: #f1f1f1;
  } */

  /* Handle */
  /* ::-webkit-scrollbar-thumb {
      background: red;
  } */

  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
      background: #555;
  }  */

  html {
    scroll-behavior: smooth;
  }

  /*

  CSS HEART animation
  */

  .heart {
    font-size: 6em;
    position: relative;
  }

  .heartbeat {
    position: relative;
    z-index: 1;
    animation: beat 2s linear infinite;
  }

  .heartecho {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: echo 2s linear infinite;
  }

  @keyframes beat {
    0% {
      transform: scale(1);
    }
    14% {
      transform: scale(0.9);
    }
    21% {
      transform: scale(1.1) skew(0.004turn)
    }
    28% {
      transform: scale(1) skew(0.008turn);
    }
    35% {
      transform: scale(1) skew(0)
    }
  }

  @keyframes echo {
    0% {
      opacity: 0.5;
      transform: scale(1);
    }
    14% {
      opacity: 0.4;
      transform: scale(0.8);
    }
    21% {
      opacity: 0.4;
      transform: scale(1.1);
    }
    100% {
      opacity: 0;
      transform: scale(3);
    }
  }

  /*

  CSS HEART animation
  */

  /*

  css btn shine

  */

  .btn-shine{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 12px 48px;
    color: #ffffff;
    background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;
  }

  @keyframes shine {
    0%{
      background-position: 0;
    }

    60% {
      background-position: 180px
    }

    100% {
      background-position: 180px
    }

  }

  /*
  new back animation
  */

  .bg-animation1 {
    --s: 25vmin;
    --p: calc(var(--s) / 2);
    --c1: pink;
    --c2: dodgerblue;
    --c3: white;
    --bg: var(--c3);
    --d: 6000ms;
    --e: cubic-bezier(0.76, 0, 0.24, 1);

    background-color: var(--bg);
    background-image:
            linear-gradient(45deg, var(--c1) 25%, transparent 25%),
            linear-gradient(-45deg, var(--c1) 25%, transparent 25%),
            linear-gradient(45deg, transparent 75%, var(--c2) 75%),
            linear-gradient(-45deg, transparent 75%, var(--c2) 75%);
    background-size: var(--s) var(--s);
    background-position:
            calc(var(--p) *  1) calc(var(--p) *  0),
            calc(var(--p) * -1) calc(var(--p) *  1),
            calc(var(--p) *  1) calc(var(--p) * -1),
            calc(var(--p) * -1) calc(var(--p) *  0);
    animation:
            color var(--d) var(--e) infinite,
            position var(--d) var(--e) infinite;
  }

  @keyframes color {
    0%, 25% {
      --bg: var(--c3);
    }
    26%, 50% {
      --bg: var(--c1);
    }
    51%, 75% {
      --bg: var(--c3);
    }
    76%, 100% {
      --bg: var(--c2);
    }
  }

  @keyframes position {
    0% {
      background-position:
              calc(var(--p) *  1) calc(var(--p) *  0),
              calc(var(--p) * -1) calc(var(--p) *  1),
              calc(var(--p) *  1) calc(var(--p) * -1),
              calc(var(--p) * -1) calc(var(--p) *  0);
    }
    25% {
      background-position:
              calc(var(--p) *  1) calc(var(--p) *  4),
              calc(var(--p) * -1) calc(var(--p) *  5),
              calc(var(--p) *  1) calc(var(--p) *  3),
              calc(var(--p) * -1) calc(var(--p) *  4);
    }
    50% {
      background-position:
              calc(var(--p) *  3) calc(var(--p) * 8),
              calc(var(--p) * -3) calc(var(--p) * 9),
              calc(var(--p) *  2) calc(var(--p) * 7),
              calc(var(--p) * -2) calc(var(--p) * 8);
    }
    75% {
      background-position:
              calc(var(--p) *  3) calc(var(--p) * 12),
              calc(var(--p) * -3) calc(var(--p) * 13),
              calc(var(--p) *  2) calc(var(--p) * 11),
              calc(var(--p) * -2) calc(var(--p) * 12);
    }
    100% {
      background-position:
              calc(var(--p) *  5) calc(var(--p) * 16),
              calc(var(--p) * -5) calc(var(--p) * 17),
              calc(var(--p) *  5) calc(var(--p) * 15),
              calc(var(--p) * -5) calc(var(--p) * 16);
    }
  }

  @media (prefers-reduced-motion) {
    body {
      animation: none;
    }
  }

  /*
  new back animation
  */

  /*
  button flash animation

  */
  .animated-flash-pulse {
    background-color: rgba(255, 255, 255, 0.12); /* Default background color */
    animation: flash 1.5s infinite; /* Animation timing and infinite repeat */
  }

  @keyframes flash {
    0%, 100% {
      background-color: rgba(200, 199, 199, 0.05); /* Start and end color */
    }
    50% {
      background-color: #1b1b1b; /* Flash to a darker blue */
    }
  }

  /* Base styles for the button */
  .animated-stripe {
    background-color: #32CD32; /* Green background */
    position: relative;
    overflow: hidden; /* Ensure animation stays inside the button */
  }

  /* The white stripe element */
  .animated-stripe::before {
    content: '';
    position: absolute;
    top: 0;
    left: -150%; /* Start off-screen to the left */
    width: 200%; /* Cover enough width for the animation to run smoothly */
    height: 100%; /* Match the button height */
    background: linear-gradient(45deg, transparent 40%, white 50%, transparent 60%);
    animation: stripe-slide 1.5s infinite linear;
  }

  .animated-stripe-2 {
    background-color: #dd0404; /* Green background */
    position: relative;
    overflow: hidden; /* Ensure animation stays inside the button */
  }

  /* The white stripe element */
  .animated-stripe-2::before {
    content: '';
    position: absolute;
    top: 0;
    left: -150%; /* Start off-screen to the left */
    width: 200%; /* Cover enough width for the animation to run smoothly */
    height: 100%; /* Match the button height */
    background: linear-gradient(45deg, transparent 40%, white 50%, transparent 60%);
    animation: stripe-slide 1.5s infinite linear;
  }

  /* Animation to move the stripe */
  @keyframes stripe-slide {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(150%);
    }
  }

  /*
  button flash animation

  */

  /*Phone coutry select
  */

  /* CSS variables. */
  :root {
    --PhoneInput-color--focus: #03b2cb;
    --PhoneInputInternationalIconPhone-opacity: 0.8;
    --PhoneInputInternationalIconGlobe-opacity: 0.65;
    --PhoneInputCountrySelect-marginRight: 0.35em;
    --PhoneInputCountrySelectArrow-width: 0.3em;
    --PhoneInputCountrySelectArrow-marginLeft: var(--PhoneInputCountrySelect-marginRight);
    --PhoneInputCountrySelectArrow-borderWidth: 1px;
    --PhoneInputCountrySelectArrow-opacity: 0.45;
    --PhoneInputCountrySelectArrow-color: currentColor;
    --PhoneInputCountrySelectArrow-color--focus: var(--PhoneInput-color--focus);
    --PhoneInputCountrySelectArrow-transform: rotate(45deg);
    --PhoneInputCountryFlag-aspectRatio: 1.5;
    --PhoneInputCountryFlag-height: 1em;
    --PhoneInputCountryFlag-borderWidth: 1px;
    --PhoneInputCountryFlag-borderColor: rgba(0,0,0,0.5);
    --PhoneInputCountryFlag-borderColor--focus: var(--PhoneInput-color--focus);
    --PhoneInputCountryFlag-backgroundColor--loading: rgba(0,0,0,0.1);
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.141 0.005 285.823);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.141 0.005 285.823);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.141 0.005 285.823);
    --primary: oklch(0.21 0.006 285.885);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(0.967 0.001 286.375);
    --muted-foreground: oklch(0.552 0.016 285.938);
    --accent: oklch(0.967 0.001 286.375);
    --accent-foreground: oklch(0.21 0.006 285.885);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.92 0.004 286.32);
    --input: oklch(0.92 0.004 286.32);
    --ring: oklch(0.705 0.015 286.067);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.141 0.005 285.823);
    --sidebar-primary: oklch(0.21 0.006 285.885);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.967 0.001 286.375);
    --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
    --sidebar-border: oklch(0.92 0.004 286.32);
    --sidebar-ring: oklch(0.705 0.015 286.067);
  }

  .PhoneInput {
    /* This is done to stretch the contents of this component. */
    display: flex;
    align-items: center;
  }

  .PhoneInputInput {
    /* The phone number input stretches to fill all empty space */
    flex: 1;
    /* The phone number input should shrink
       to make room for the extension input */
    min-width: 0;
  }

  .PhoneInputCountryIcon {
    width: calc(var(--PhoneInputCountryFlag-height) * var(--PhoneInputCountryFlag-aspectRatio));
    height: var(--PhoneInputCountryFlag-height);
  }

  .PhoneInputCountryIcon--square {
    width: var(--PhoneInputCountryFlag-height);
  }

  .PhoneInputCountryIcon--border {
    /* Removed `background-color` because when an `<img/>` was still loading
       it would show a dark gray rectangle. */
    /* For some reason the `<img/>` is not stretched to 100% width and height
       and sometime there can be seen white pixels of the background at top and bottom. */
    background-color: var(--PhoneInputCountryFlag-backgroundColor--loading);
    /* Border is added via `box-shadow` because `border` interferes with `width`/`height`. */
    /* For some reason the `<img/>` is not stretched to 100% width and height
       and sometime there can be seen white pixels of the background at top and bottom,
       so an additional "inset" border is added. */
    box-shadow: 0 0 0 var(--PhoneInputCountryFlag-borderWidth) var(--PhoneInputCountryFlag-borderColor),
    inset 0 0 0 var(--PhoneInputCountryFlag-borderWidth) var(--PhoneInputCountryFlag-borderColor);
  }

  .PhoneInputCountryIconImg {
    /* Fixes weird vertical space above the flag icon. */
    /* https://gitlab.com/catamphetamine/react-phone-number-input/-/issues/7#note_348586559 */
    display: block;
    /* 3rd party <SVG/> flag icons won't stretch if they have `width` and `height`.
       Also, if an <SVG/> icon's aspect ratio was different, it wouldn't fit too. */
    width: 100%;
    height: 100%;
  }

  .PhoneInputInternationalIconPhone {
    opacity: var(--PhoneInputInternationalIconPhone-opacity);
  }

  .PhoneInputInternationalIconGlobe {
    opacity: var(--PhoneInputInternationalIconGlobe-opacity);
  }

  /* Styling native country `<select/>`. */

  .PhoneInputCountry {
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    margin-right: var(--PhoneInputCountrySelect-marginRight);
  }

  .PhoneInputCountrySelect {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    border: 0;
    opacity: 0;
    cursor: pointer;
  }

  .PhoneInputCountrySelect[disabled],
  .PhoneInputCountrySelect[readonly] {
    cursor: default;
  }

  .PhoneInputCountrySelectArrow {
    display: block;
    content: '';
    width: var(--PhoneInputCountrySelectArrow-width);
    height: var(--PhoneInputCountrySelectArrow-width);
    margin-left: var(--PhoneInputCountrySelectArrow-marginLeft);
    border-style: solid;
    border-color: var(--PhoneInputCountrySelectArrow-color);
    border-top-width: 0;
    border-bottom-width: var(--PhoneInputCountrySelectArrow-borderWidth);
    border-left-width: 0;
    border-right-width: var(--PhoneInputCountrySelectArrow-borderWidth);
    transform: var(--PhoneInputCountrySelectArrow-transform);
    opacity: var(--PhoneInputCountrySelectArrow-opacity);
  }

  .PhoneInputCountrySelect:focus + .PhoneInputCountryIcon + .PhoneInputCountrySelectArrow {
    opacity: 1;
    color: var(--PhoneInputCountrySelectArrow-color--focus);
  }

  .PhoneInputCountrySelect:focus + .PhoneInputCountryIcon--border {
    box-shadow: 0 0 0 var(--PhoneInputCountryFlag-borderWidth) var(--PhoneInputCountryFlag-borderColor--focus),
    inset 0 0 0 var(--PhoneInputCountryFlag-borderWidth) var(--PhoneInputCountryFlag-borderColor--focus);
  }

  .PhoneInputCountrySelect:focus + .PhoneInputCountryIcon .PhoneInputInternationalIconGlobe {
    opacity: 1;
    color: var(--PhoneInputCountrySelectArrow-color--focus);
  }

  /*Phone coutry select
  */

  /* btn-call */

  .btn-call {
    /*background: #38a3fd;*/
    /*border: 2px solid #38a3fd;*/
    /*border-radius: 50%;*/
    /*box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3);*/
    background: #00aa2d;
    border: 2px solid #00aa2d;
    border-radius: 50%;
    /*box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3);*/
    box-shadow: 0 8px 10px rgba(0, 154, 22, 0.3);
    cursor: pointer;
    height: 70px;
    width: 70px;
    text-align: center;
    position: fixed;
    /*left: 50px;*/
    right: 50px;
    bottom: 50px;
    z-index: 999;
    transition: .3s;
    -webkit-animation: hoverWave linear 1s infinite;
    animation: hoverWave linear 1s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .btn-call__ico {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 1200ms ease 0s normal none 1 running shake;
    animation-iteration-count: infinite;
    -webkit-animation: 1200ms ease 0s normal none 1 running shake;
    -webkit-animation-iteration-count: infinite;
    color: white;
    font-size: 30px;
    padding-top: 5px;
    transition: .3s all;
  }

  .btn-call:hover {
    background-color: #fff;
  }

  .btn-call:hover .btn-call__ico {
    color: #38a3fd;
  }

  @-webkit-keyframes hoverWave {
    /*0% {*/
    /*    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 0 rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2)*/
    /*}*/

    /*40% {*/
    /*    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 15px rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2)*/
    /*}*/

    /*80% {*/
    /*    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 26.7px rgba(56, 163, 253, 0.067)*/
    /*}*/

    /*100% {*/
    /*    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 40px rgba(56, 163, 253, 0.0)*/
    /*}*/

    0% {
      box-shadow: 0 8px 10px rgba(122, 253, 56, 0.3), 0 0 0 0 rgba(56, 253, 66, 0.2), 0 0 0 0 rgba(56, 253, 102, 0.2)
    }

    40% {
      box-shadow: 0 8px 10px rgba(56, 253, 112, 0.3), 0 0 0 15px rgba(40, 207, 62, 0.2), 0 0 0 0 rgba(56, 253, 102, 0.2)
    }

    80% {
      box-shadow: 0 8px 10px rgba(76, 253, 56, 0.3), 0 0 0 30px rgba(56, 253, 82, 0), 0 0 0 26.7px rgba(69, 253, 56, 0.07)
    }

    100% {
      box-shadow: 0 8px 10px rgba(56, 253, 66, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 40px rgba(56, 163, 253, 0.0)
    }
  }

  @keyframes hoverWave {
    0% {
      box-shadow: 0 8px 10px rgba(122, 253, 56, 0.3), 0 0 0 0 rgba(56, 253, 66, 0.2), 0 0 0 0 rgba(56, 253, 102, 0.2)
    }

    40% {
      box-shadow: 0 8px 10px rgba(56, 253, 112, 0.3), 0 0 0 15px rgba(40, 207, 62, 0.2), 0 0 0 0 rgba(56, 253, 102, 0.2)
    }

    80% {
      box-shadow: 0 8px 10px rgba(76, 253, 56, 0.3), 0 0 0 30px rgba(56, 253, 82, 0), 0 0 0 26.7px rgba(69, 253, 56, 0.07)
    }

    100% {
      box-shadow: 0 8px 10px rgba(56, 253, 66, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 40px rgba(56, 163, 253, 0.0)
    }

    /*0% {*/
    /*    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 0 rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2)*/
    /*}*/

    /*40% {*/
    /*    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 15px rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2)*/
    /*}*/

    /*80% {*/
    /*    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 26.7px rgba(56, 163, 253, 0.067)*/
    /*}*/

    /*100% {*/
    /*    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 40px rgba(56, 163, 253, 0.0)*/
    /*}*/
  }

  /* animations icon */

  @keyframes shake {
    0% {
      transform: rotateZ(0deg);
      -ms-transform: rotateZ(0deg);
      -webkit-transform: rotateZ(0deg);
    }

    10% {
      transform: rotateZ(-30deg);
      -ms-transform: rotateZ(-30deg);
      -webkit-transform: rotateZ(-30deg);
    }

    20% {
      transform: rotateZ(15deg);
      -ms-transform: rotateZ(15deg);
      -webkit-transform: rotateZ(15deg);
    }

    30% {
      transform: rotateZ(-10deg);
      -ms-transform: rotateZ(-10deg);
      -webkit-transform: rotateZ(-10deg);
    }

    40% {
      transform: rotateZ(7.5deg);
      -ms-transform: rotateZ(7.5deg);
      -webkit-transform: rotateZ(7.5deg);
    }

    50% {
      transform: rotateZ(-6deg);
      -ms-transform: rotateZ(-6deg);
      -webkit-transform: rotateZ(-6deg);
    }

    60% {
      transform: rotateZ(5deg);
      -ms-transform: rotateZ(5deg);
      -webkit-transform: rotateZ(5deg);
    }

    70% {
      transform: rotateZ(-4.28571deg);
      -ms-transform: rotateZ(-4.28571deg);
      -webkit-transform: rotateZ(-4.28571deg);
    }

    80% {
      transform: rotateZ(3.75deg);
      -ms-transform: rotateZ(3.75deg);
      -webkit-transform: rotateZ(3.75deg);
    }

    90% {
      transform: rotateZ(-3.33333deg);
      -ms-transform: rotateZ(-3.33333deg);
      -webkit-transform: rotateZ(-3.33333deg);
    }

    100% {
      transform: rotateZ(0deg);
      -ms-transform: rotateZ(0deg);
      -webkit-transform: rotateZ(0deg);
    }
  }

  @-webkit-keyframes shake {
    0% {
      transform: rotateZ(0deg);
      -ms-transform: rotateZ(0deg);
      -webkit-transform: rotateZ(0deg);
    }

    10% {
      transform: rotateZ(-30deg);
      -ms-transform: rotateZ(-30deg);
      -webkit-transform: rotateZ(-30deg);
    }

    20% {
      transform: rotateZ(15deg);
      -ms-transform: rotateZ(15deg);
      -webkit-transform: rotateZ(15deg);
    }

    30% {
      transform: rotateZ(-10deg);
      -ms-transform: rotateZ(-10deg);
      -webkit-transform: rotateZ(-10deg);
    }

    40% {
      transform: rotateZ(7.5deg);
      -ms-transform: rotateZ(7.5deg);
      -webkit-transform: rotateZ(7.5deg);
    }

    50% {
      transform: rotateZ(-6deg);
      -ms-transform: rotateZ(-6deg);
      -webkit-transform: rotateZ(-6deg);
    }

    60% {
      transform: rotateZ(5deg);
      -ms-transform: rotateZ(5deg);
      -webkit-transform: rotateZ(5deg);
    }

    70% {
      transform: rotateZ(-4.28571deg);
      -ms-transform: rotateZ(-4.28571deg);
      -webkit-transform: rotateZ(-4.28571deg);
    }

    80% {
      transform: rotateZ(3.75deg);
      -ms-transform: rotateZ(3.75deg);
      -webkit-transform: rotateZ(3.75deg);
    }

    90% {
      transform: rotateZ(-3.33333deg);
      -ms-transform: rotateZ(-3.33333deg);
      -webkit-transform: rotateZ(-3.33333deg);
    }

    100% {
      transform: rotateZ(0deg);
      -ms-transform: rotateZ(0deg);
      -webkit-transform: rotateZ(0deg);
    }
  }

  /* btn-call */

  /* btn-call-2 */

  .btn-call-2 {
    background: #00aa2d;
    border: 2px solid #00aa2d;
    border-radius: 50%;
    /*box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3);*/
    box-shadow: 0 8px 10px rgba(0, 154, 22, 0.3);
    cursor: pointer;
    height: 70px;
    width: 70px;
    text-align: center;
    /*position: fixed;*/
    /*left: 50px;*/
    /*bottom: 50px;*/
    /*z-index: 999;*/
    transition: .3s;
    -webkit-animation: hoverWave linear 1s infinite;
    animation: hoverWave linear 1s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .btn-call__ico {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 1200ms ease 0s normal none 1 running shake;
    animation-iteration-count: infinite;
    -webkit-animation: 1200ms ease 0s normal none 1 running shake;
    -webkit-animation-iteration-count: infinite;
    color: white;
    font-size: 30px;
    padding-top: 5px;
    transition: .3s all;
  }
  .btn-call__ico-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 1200ms ease 0s normal none 1 running shake;
    animation-iteration-count: infinite;
    -webkit-animation: 1200ms ease 0s normal none 1 running shake;
    -webkit-animation-iteration-count: infinite;
    color: white;
    font-size: 30px;
    padding-top: 5px;
    transition: .3s all;
  }

  .btn-call-2:hover {
    background-color: #fff;
  }

  .btn-call-2:hover .btn-call__ico {
    color: #38a3fd;
  }

  @-webkit-keyframes hoverWave {
    /*0% {*/
    /*    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 0 rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2)*/
    /*}*/

    /*40% {*/
    /*    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 15px rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2)*/
    /*}*/

    /*80% {*/
    /*    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 26.7px rgba(56, 163, 253, 0.067)*/
    /*}*/

    /*100% {*/
    /*    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 40px rgba(56, 163, 253, 0.0)*/
    /*}*/

    0% {
      box-shadow: 0 8px 10px rgba(122, 253, 56, 0.3), 0 0 0 0 rgba(56, 253, 66, 0.2), 0 0 0 0 rgba(56, 253, 102, 0.2)
    }

    40% {
      box-shadow: 0 8px 10px rgba(56, 253, 112, 0.3), 0 0 0 15px rgba(40, 207, 62, 0.2), 0 0 0 0 rgba(56, 253, 102, 0.2)
    }

    80% {
      box-shadow: 0 8px 10px rgba(76, 253, 56, 0.3), 0 0 0 30px rgba(56, 253, 82, 0), 0 0 0 26.7px rgba(69, 253, 56, 0.07)
    }

    100% {
      box-shadow: 0 8px 10px rgba(56, 253, 66, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 40px rgba(56, 163, 253, 0.0)
    }
  }

  @keyframes hoverWave {
    0% {
      box-shadow: 0 8px 10px rgba(122, 253, 56, 0.3), 0 0 0 0 rgba(56, 253, 66, 0.2), 0 0 0 0 rgba(56, 253, 102, 0.2)
    }

    40% {
      box-shadow: 0 8px 10px rgba(56, 253, 112, 0.3), 0 0 0 15px rgba(40, 207, 62, 0.2), 0 0 0 0 rgba(56, 253, 102, 0.2)
    }

    80% {
      box-shadow: 0 8px 10px rgba(76, 253, 56, 0.3), 0 0 0 30px rgba(56, 253, 82, 0), 0 0 0 26.7px rgba(69, 253, 56, 0.07)
    }

    100% {
      box-shadow: 0 8px 10px rgba(56, 253, 66, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 40px rgba(56, 163, 253, 0.0)
    }

  }

  /* animations icon */

  @keyframes shake {
    0% {
      transform: rotateZ(0deg);
      -ms-transform: rotateZ(0deg);
      -webkit-transform: rotateZ(0deg);
    }

    10% {
      transform: rotateZ(-30deg);
      -ms-transform: rotateZ(-30deg);
      -webkit-transform: rotateZ(-30deg);
    }

    20% {
      transform: rotateZ(15deg);
      -ms-transform: rotateZ(15deg);
      -webkit-transform: rotateZ(15deg);
    }

    30% {
      transform: rotateZ(-10deg);
      -ms-transform: rotateZ(-10deg);
      -webkit-transform: rotateZ(-10deg);
    }

    40% {
      transform: rotateZ(7.5deg);
      -ms-transform: rotateZ(7.5deg);
      -webkit-transform: rotateZ(7.5deg);
    }

    50% {
      transform: rotateZ(-6deg);
      -ms-transform: rotateZ(-6deg);
      -webkit-transform: rotateZ(-6deg);
    }

    60% {
      transform: rotateZ(5deg);
      -ms-transform: rotateZ(5deg);
      -webkit-transform: rotateZ(5deg);
    }

    70% {
      transform: rotateZ(-4.28571deg);
      -ms-transform: rotateZ(-4.28571deg);
      -webkit-transform: rotateZ(-4.28571deg);
    }

    80% {
      transform: rotateZ(3.75deg);
      -ms-transform: rotateZ(3.75deg);
      -webkit-transform: rotateZ(3.75deg);
    }

    90% {
      transform: rotateZ(-3.33333deg);
      -ms-transform: rotateZ(-3.33333deg);
      -webkit-transform: rotateZ(-3.33333deg);
    }

    100% {
      transform: rotateZ(0deg);
      -ms-transform: rotateZ(0deg);
      -webkit-transform: rotateZ(0deg);
    }
  }

  @-webkit-keyframes shake {
    0% {
      transform: rotateZ(0deg);
      -ms-transform: rotateZ(0deg);
      -webkit-transform: rotateZ(0deg);
    }

    10% {
      transform: rotateZ(-30deg);
      -ms-transform: rotateZ(-30deg);
      -webkit-transform: rotateZ(-30deg);
    }

    20% {
      transform: rotateZ(15deg);
      -ms-transform: rotateZ(15deg);
      -webkit-transform: rotateZ(15deg);
    }

    30% {
      transform: rotateZ(-10deg);
      -ms-transform: rotateZ(-10deg);
      -webkit-transform: rotateZ(-10deg);
    }

    40% {
      transform: rotateZ(7.5deg);
      -ms-transform: rotateZ(7.5deg);
      -webkit-transform: rotateZ(7.5deg);
    }

    50% {
      transform: rotateZ(-6deg);
      -ms-transform: rotateZ(-6deg);
      -webkit-transform: rotateZ(-6deg);
    }

    60% {
      transform: rotateZ(5deg);
      -ms-transform: rotateZ(5deg);
      -webkit-transform: rotateZ(5deg);
    }

    70% {
      transform: rotateZ(-4.28571deg);
      -ms-transform: rotateZ(-4.28571deg);
      -webkit-transform: rotateZ(-4.28571deg);
    }

    80% {
      transform: rotateZ(3.75deg);
      -ms-transform: rotateZ(3.75deg);
      -webkit-transform: rotateZ(3.75deg);
    }

    90% {
      transform: rotateZ(-3.33333deg);
      -ms-transform: rotateZ(-3.33333deg);
      -webkit-transform: rotateZ(-3.33333deg);
    }

    100% {
      transform: rotateZ(0deg);
      -ms-transform: rotateZ(0deg);
      -webkit-transform: rotateZ(0deg);
    }
  }

  /* btn-call-2 */

  /*
  ---break---
  */

  /*
  ---break---
  */

  @theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
  }

  /*
  ---break---
  */

  .dark {
    --background: oklch(0.141 0.005 285.823);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.21 0.006 285.885);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.21 0.006 285.885);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.92 0.004 286.32);
    --primary-foreground: oklch(0.21 0.006 285.885);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.274 0.006 286.033);
    --muted-foreground: oklch(0.705 0.015 286.067);
    --accent: oklch(0.274 0.006 286.033);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.552 0.016 285.938);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.21 0.006 285.885);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.274 0.006 286.033);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.552 0.016 285.938);
  }

  /*
  ---break---
  */


}
